<%= cl_image_tag listing.photos.first.key, class:"img-fluid rounded-top", height: 160, width: 240, crop: :fill unless listing.photos.empty?%>
<div class="map-pop-info">
  <h6><%= listing.title %></h6>
  <p><%= listing.address %></p>
</div>
<div class="map-pop-footer">
  <% if listing.reviews.present?%>
    <span class="avg-rating-map text-muted me-1 "><%= listing.average_rating.round(1) %></span>
    <span class="all-stars-map me-1">
      <%= icon('fa-solid', 'star', class:'text-warning') * listing.average_rating.round(1) %>
    </span>
    <span class="text-muted map-rev-count">(<%= listing.reviews.count %>)</span>
  <% else %>
    <p>No reviews</p>
  <% end %>
</div>
