<div class= "container">
<%= render "shared/filter"
  <%= search_form_for @q do |f| %>
    <%= f.label :details_cont %>
    <%= f.search_field :details_cont %>
    <%= f.label :address_cont %>
    <%= f.search_field :address_cont %>
    <%= f.label :collection_date %>
    <%= f.date_field :bookings_collection_date_not_eq %>
    <%= f.submit %>
  <% end %>

  <% @listings.each do |listing| %>
    <%= link_to listing do %>
      <% listing.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <%= listing.title %>
      <%= listing.details %>
      <%= listing.address %>
      <%= listing.price %>
      <%= listing.latitude %>
      <%= listing.longitude %>
      <br>
    <% end %>
  <% end %>
</div>

<%= link_to "Create Listing", new_listing_path %>

<%= render "shared/map" %>
