<div class="container">

<br>
<br>
<br>
<br>

  <div class="index-top pt-3">
    <h2> We found <%= @listings.count %> businesses that can help you ...</h2>
    <div class="row">
      <div class="col-8 d-flex flex-row">
        <button>Rating</button>
        <button>Sustainablity</button>
        <button>Price</button>
      </div>
      <div class="col-4 d-flex flex-row-reverse">
        <button><%= link_to "Create Listing", new_listing_path %></button>
      </div>
    </div>
  </div>
    <%= render "shared/filter" %>
<br>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <% @listings.each do |listing| %>
        <%= link_to listing do %>
        <div class="card-product mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <%= cl_image_tag listing.photos.first.key, class:"img-fluid rounded-start", crop: :thumb unless listing.photos.empty?%>
            </div>
          <div class="col-md-8">
            <div class="card-product-body">
              <div class="title">
                <h3><%= listing.title %></h3>
                <p><%= listing.address %></p>
              </div>
              <div class="details">
                <p><%= listing.details.truncate(200) %></p>
              </div>
              <div class="price">
                <p><i class="fa-solid fa-money-bill"></i> <%= listing.price %>.00</p>
                <p><%=listing.average_rating %>⭐ (<%= listing.reviews.count%> reviews )</p>
              </div>
            </div>
          </div>
          </div>
        <% end %>
        </div>
        <% end %>
      </div>
      <div class="col-4">
      <%= render "shared/map" %>
      </div>
    </div>
  </div>
</div>
