<div class= "container">
  <% @listings.each do |listing| %>
    <%= link_to listing do %>
      <% listing.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <%= listing.title %>
      <%= listing.details %>
      <%= listing.address %>
      <%= listing.price %>
      <br>
    <% end %>
  <% end %>
</div>

<%= link_to "Create Listing", new_listing_path %>
