<div class="container">
  <h1>Choose <%= @listing.title%></h1><br>
  <% @listing.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill  %>
  <% end %>
  <h2> <%= @listing.address %></h2>
  <p> <%= @listing.details %></p><br>
  <p> Only £<%= '%.2f' % @listing.price %> collection fee</p>

  <div class = "show card links">
    <ul>
      <!-- User actions -->
      <li> <%= link_to 'Choose another', listings_path %></li>
      <li> <%= link_to 'Back to home', root_path %></li>
      <!-- Prevent owners from booking or reviewing their own listings -->
      <% unless current_user == @listing.user %>
        <li> <%= link_to 'Book now!', new_listing_booking_path(@listing) %></li>
        <li> <%= link_to 'Leave review', new_listing_review_path(@listing) %></li>
      <% end %>
      <!-- Owner actions -->
      <% if current_user == @listing.user %>
        <li><%= link_to 'Show bookings', listing_bookings_path(@listing) %></li>
        <li> <%= link_to 'Edit', edit_listing_path  %></li>
        <li> <%= link_to 'Delete', listing_path,
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
      <% end %>
    </ul>
  </div>

  <%= render "shared/listing_reviews" %>
</div>
