<div class="container">
  <h1>Choose <%= @listing.title%></h1><br>
  <% @listing.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill  %>
  <% end %>
  <h2> <%= @listing.address %></h2>
    <p> <%= @listing.details %></p><br>
    <p> Only <%= '%.2f' % @listing.price %> collection fee</p>
  <div class = "show card links">
    <ul>
      <li> <%= link_to 'Choose another', listings_path %></li>
      <li> <%= link_to 'Back to home', root_path %></li>
      <!-- Uncomment line below when the booking routes/controller is complete-->
      <li> <%#= link_to 'Book now!', new_listing_booking_path %></li>
      <li><%= link_to 'See collection dates', listing_collection_dates_path(@listing) %></li>
      <!-- Edit the listing-->
      <li> <%= link_to 'Edit', edit_listing_path  %></li>
      <li> <%= link_to 'Leave review', new_listing_review_path(@listing) %>
      <!-- Implement logic at later stage, only owners can delete-->
      <!-- not functional until listings controller is updated -->
      <li> <%= link_to 'Delete', listing_path,
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </ul>
  </div>
    <%= render "shared/listing_reviews" %>
</div>
