<div class="container">
  <h1 class="mb-0"><%= @listing.title%></h1><br>
  <p class="mb-2 fs-lg"><%= @listing.address %></p>
  <!-- Features + Sharing-->
  <div class="d-flex justify-content-between align-items-center">
    <ul class="d-flex mb-4 list-unstyled">
      <li class="me-3 pe-3 border-end">
        <b class="me-1">86</b><i class="fa-solid fa-recycle lead align-middle text-muted"></i><!-- alt text-success primary etc for coloured look -->
      </li>
      <li class="me-3 pe-3 border-end">
        <b class="me-1">26</b><i class="fa-solid fa-hand-holding-heart lead align-middle text-muted"></i>
      </li>
      <li class="me-3 pe-3 border-end">
        <b class="me-1">29</b><i class="fa-solid fa-screwdriver-wrench lead align-middle text-muted"></i>
      </li>
      <li>
        Carbon <b>neutral</b>
      </li>
    </ul>
  </div>

  <div class="row gy-5 pt-lg-2">
    <div class="col-lg-7">
      <div class="d-flex flex-column">
        <!-- Insert Carousel with slides here-->
        <% @listing.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 421, width: 746, crop: :fill  %>
        <% end %>
      </div>
      <!-- Overview-->
      <h2 class="h4 mt-2">Overview</h2>
      <p class="mb-4 pb-2"><%= @listing.details %></p>
     <%= render "listings/card_business" %>
    </div>
      <%= render "listings/card_listing_details" %>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          <%= render "shared/new_review" %>
          </div>
        </div>
      </div>
    </div>
  <%= render "shared/listing_reviews" %>
</div>
