<div class="container">
  <h1 class="mb-2">Choose <%= @listing.title%></h1><br>
  <p class="mb-2 pb-1 fs-lg"><%= @listing.address %></p>
  <!-- Features + Sharing-->
  <div class="d-flex justify-content-between align-items-center">
    <ul class="d-flex mb-4 list-unstyled">
      <li class="me-3 pe-3 border-end">
        <b class="me-1">86</b><i class="fa-solid fa-recycle lead align-middle text-muted"></i><!-- alt text-success primary etc for coloured look -->
      </li>
      <li class="me-3 pe-3 border-end">
        <b class="me-1">26</b><i class="fa-solid fa-hand-holding-heart lead align-middle text-muted"></i>
      </li>
      <li class="me-3 pe-3 border-end">
        <b class="me-1">29</b><i class="fa-solid fa-screwdriver-wrench lead align-middle text-muted"></i>
      </li>
      <li>
        Carbon <b>neutral</b>
      </li>
    </ul>
  <div class="text-nowrap"><!-- TODO heart and share buttons must have their own css class, white and orange when hovered-->
    <button class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle ms-2 mb-2" type="button" data-bs-toggle="tooltip" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="dropdown d-inline-block" data-bs-toggle="tooltip" title="" data-bs-original-title="Share">
      <button class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle ms-2 mb-2" type="button" data-bs-toggle="dropdown">
        <i class="fa-solid fa-share"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-end my-1">
        <button class="dropdown-item" type="button"><i class="fa-brands fa-facebook-f me-2"></i>Facebook</button> <!--add later opacity-75 -->
        <button class="dropdown-item" type="button"><i class="fa-brands fa-twitter me-2"></i>Twitter</button> <!--add later opacity-75 -->
        <button class="dropdown-item" type="button"><i class="fa-brands fa-instagram me-2"></i>Instagram</button> <!--add later opacity-75 -->
      </div>
    </div>
  </div>
  </div>
  <% @listing.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill  %>
  <% end %>
  <h3> <%= @listing.address %></h3>
  <p> <%= @listing.details %></p><br>
  <p> Only £<%= '%.2f' % @listing.price %> collection fee</p>

  <div class = "show card links">
    <ul>
      <!-- User actions -->
      <li> <%= link_to 'Choose another', listings_path %></li>
      <li> <%= link_to 'Back to home', root_path %></li>
      <!-- Prevent owners from booking their own listings -->
      <% unless current_user == @listing.user %>
        <li> <%= link_to 'Book now!', new_listing_booking_path(@listing) %></li>
      <% end %>
      <!-- Owner actions -->
      <% if current_user == @listing.user %>
        <li><%= link_to 'Show bookings', listing_bookings_path(@listing) %></li>
        <li> <%= link_to 'Edit', edit_listing_path  %></li>
        <li> <%= link_to 'Delete', listing_path,
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
      <% end %>
    </ul>
  </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          <%= render "shared/new_review" %>
          </div>
        </div>
      </div>
    </div>

  <%= render "shared/listing_reviews" %>
</div>
