<div class="container">
  <h1>Bookings for <%= link_to @listing.title, listing_path(@listing) %></h1>

  <% if @listing.bookings.empty? %>
    <p>No bookings for <%= @listing.title %> yet.</p>
  <% else %>
    <ul>
      <% @listing.bookings.each do |booking| %>
        <li><%= booking.collection_date %>: <%= booking.user.first_name %> <%= booking.user.last_name %></li>
      <% end %>
    </ul>
  <% end %>
</div>
