<div class="container">
  <div class="card pt-3 confirm-details">
    <div class="container details">
      <div class="row">
        <div class="col">
          <ul>
            <li><h4>Confirmation Details:</h4></li>
            <li><strong>Date:</strong>         <%= @booking.collection_date.strftime('%B %e, %Y') %></li>
            <li><strong>Company name:</strong> <%= link_to @booking.listing.title, listing_path(@booking.listing) %></li>
            <li><strong>Service:</strong>      Urgent collection for recycle or donation</li>
            <li><strong>Items:</strong>        1 Large Sofa</li>
            <li><strong>Price:</strong>        <%= '%.2f' % @listing.price %></li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><h4>Need support?</h4></li>
            <li><strong>Call us</strong></li>
            <li>+44 42492 4242</li>
            <li><strong>Or send us an email</strong></li>
            <li>info@redore.co.uk</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="confirm">
    <img id="image" src="<%= asset_path('confirmation.png') %>" alt="image-1">
    <h3 id="title">You have booked your Recycling!</h3>
    <h3 id="title">Thank you for helping the mother earth. </h3>
    <div class="py-3 confirm-page-bottom">
      <div class="pe-3" style="display: inline-block;">
        <%= link_to root_path do %>
        <p class="btn btn-primary">Back to Home</p>
        <% end %>
      </div>
      <div style="display: inline-block;">
        <%= link_to user_path(current_user.id) do %>
        <p class="btn btn-primary">My Bookings</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
