<div class="container text-center">

  <h1 class="pt-3"><strong>Your Bookings</strong></h1>

  <% if current_user.bookings.empty? %>
    <p class="mt-4" style="font-weight: lighter; font-size: 18px">You have no bookings yet.</p>
    <% else %>
  <div class= "row mt-5 justify-content-center">
    <% current_user.bookings.each do |booking| %>
      <div class= "card-booking text-center col-3 py-2">

        <%= link_to booking.listing do %>

        <div class="listing-title">
          <h5><%= booking.listing.title %></h5>
        </div>

        <div class="address">
          <p><%= booking.listing.address %></p>
        </div>

        <div class="date">
          <p>Collection Date: <%= booking.collection_date %></p>
        </div>

        <div class="price">
          <p>Total paid: £<%= '%.2f' % booking.listing.price %></p>
        </div>

        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
