<div class="container text-center", style="max-width: 600px">
<h2 class="mb-4">Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="forms">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>

    <%= f.button :submit, "Send reset password", class:"btn btn-primary" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
