<% if @listing.reviews.present? %>
  <div class="my-4 pb-4 border-bottom">
    <h3 class="h4 pb-3">
      <i class="fa-solid fa-star mt-n1 me-2 lead align-middle text-warning"></i>
        <%= @listing.average_rating.round(2) %> (<%= @listing.reviews.count %> customer reviews)
    </h3>
    <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch justify-content-between">
      <!-- Prevent owners from reviewing their own listings -->
      <% unless current_user == @listing.user %>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-pen-to-square me-1"></i>Leave review
      </button>
      <% end %>
      <!-- TODO Sort by options on the right side -->
      <div class="d-flex align-items-center ms-sm-4">
        <label class="me-2 pe-1 text-nowrap" for="reviews-sorting"><i class="fa-solid fa-sort text-muted mt-n1 me-2"></i>Sort by:</label>
        <select class="form-select" id="reviews-sorting">
          <option>Newest</option>
          <option>Oldest</option>
          <option>Popular</option>
          <option>High rating</option>
          <option>Low rating</option>
        </select>
      </div>
    </div>
  </div>
  <!-- review -->
  <% @listing.reviews.each do |review| %>
  <div class="mb-4 pb-4 border-bottom">
    <div class="d-flex justify-content-between mb-3">
      <div class="d-flex align-items-center pe-2">
        <%= image_tag user_avatar(review.user), class: "review-avatar", alt:""%>
        <div class="ps-2">
          <h6 class="fs-base mb-0"><%= review.user.first_name+ ' ' +review.user.last_name %></h6>
          <span class="star-rating">
          <%= icon('fa-solid', 'star', class:'text-warning') * review.rating %>
          </span>
        </div>
      </div>
      <span class="text-muted fs-sm">Reviewed on <%= review.created_at.strftime('%B %e, %Y') %></span>
    </div>
    <p>
      <%= review.content %>
    </p>
    <div class="d-flex align-items-center">
      <button class="btn-like" type="button">
        <i class="fa-regular fa-thumbs-up"></i>
        <span>(3)</span>
      </button>
      <div class="border-end me-1">&nbsp;</div>
      <button class="btn-dislike" type="button">
        <i class="fa-regular fa-thumbs-down"></i>
        <span>(0)</span>
      </button>
    </div>
  </div>
  <% end %>
<% else %>
  <div class="mb-4 pb-4 border-bottom">
    <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch justify-content-between">
      <h3 class="h4 pb-3">
      No reviews yet
      </h3>
      <% unless current_user == @listing.user %>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-pen-to-square me-1"></i>Leave review
      </button>
      <% end %>
    </div>
  </div>
<% end %>
