<div class="navbar navbar-expand-lg navbar-light navbar-redore bg-light shadow-sm">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand me-2 me-xl-4" do %>
      <%= image_tag image_url("logo.png"), alt:"logo" %>
    <% end %>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to new_listing_path, class:"btn btn-primary btn-sm ms-2 order-lg-3" do %>
      <i class="fa-sharp fa-plus me-2"></i>Add<span class='d-none d-sm-inline'> listing</span>
    <% end %>
    <div class="collapse navbar-collapse order-lg-2" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "Explore", listings_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, class: "dropdown-toggle avatar",
              id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
               <%= image_tag gravatar_image_url(current_user.email), class: "dropdown-toggle avatar",
               id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
