<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <%= link_to root_path, class: "logo" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>
      <h2 class="logo"></h2>
      <nav id="navbar" class="navbar">
        <ul>
          <% if user_signed_in? %>
          <%= link_to "List your boat", new_boat_path, class: "button-white" %>
          <% else %>
          <%= link_to "List your boat", new_user_session_path, class: "button-white" %>
          <% end %>

          <% if user_signed_in?  %>
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "button-white"  %>
          <% end %>

          <% if !user_signed_in? %>
          <%= link_to "Log in", new_user_session_path, class: "button-white" %>
          <%= link_to "Sign up", new_user_registration_path, class: "button-white" %>
          <% end %>
          <li><%= link_to "Explore", new_boat_path %></li>
          <li><a class="nav-link" href="">About us</a></li>
          <% if !user_signed_in? %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <% end %>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
