<div class="container">
  <div class="row align-items-center justify-content-center">
    <!-- Hero content-->
    <div class="col-lg-5 col-md-6 col-sm-9 order-md-1 order-2 text-md-start text-center">
      <h2 class="mb-4">About Redore</h2>
      <p class="mb-4 pb-3 fs-lg">
        Redore stands for Recycle Donate & Restore.<br>
        This is the platform where you can find the best recycling companies, charities and repair shops in your area to book a collection of your old unwanted item at your chosen date,
        having the peace of mind that your item will not end up in a landfill.
        By choosing a company listed on Redore to collect the items you no longer want, you are guaranteed to make the best choice for the environment.<br>
        This saves you time, money and effort but most importantly,<br>it saves our planet.
      </p>
      <%= mail_to 'info@redore.co.uk', 'Contact Us', class:'btn btn-primary' %>
    </div>
    <div class="col-lg-6 col-md-5 offset-md-1 col-12 order-md-2 order-1">
      <img class="about-image" src="<%= asset_path('aboutus.png') %>" alt="aboutus">
    </div>
  </div>
    <!-- Why choose us?-->
  <section class="container pt-5 mb-2 mb-xl-5 pb-lg-4">
    <h2 class="h3 mb-4">Why choose us?</h2>
    <div class="row justify-content-center gx-5">
    <div class="col-md-4" style="max-width: 24rem;">
      <div class="card card-hover card-body border-0 bg-transparent">
      <i class="pb-4 fa-solid fa-recycle fa-2xl icon"></i>
        <div class="d-flex mt-3">
          <div class="">
            <h3 class="h5 card-title">Recycle almost anything</h3>
            <p class="card-text fs-sm">We achieve this by hosting varied selected partners accross UK. Typical items
              would include: furniture, white-goods, e-waste, bikes and many more </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="max-width: 24rem;">
      <div class="card card-hover card-body border-0 bg-transparent">
      <i class="pb-4 fa-solid fa-truck-fast fa-2xl icon"></i>
        <div class="d-flex mt-3">
          <div class="">
            <h3 class="h5 card-title">Fast & affordable</h3>
            <p class="card-text fs-sm">Your time and space are precious! Easy to use booking system, same or next day
              collections if in a rush, and affordable flat-rate prices available</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="max-width: 24rem;">
      <div class="card card-hover card-body border-0 bg-transparent">
      <i class="pb-4 fa-solid fa-seedling fa-2xl icon"></i>
        <div class="d-flex mt-3">
          <div class="">
            <h3 class="h5 card-title">Environmental friendly</h3>
            <p class="card-text fs-sm">Companies hosted on Redore aim to restore, donate or resell items first, they use
              electric vans for collections and most are carbon neutral</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- How it works-->
  <section class="container mb-5 pb-2 pb-lg-4">
    <div class="row gy-4">
      <div class="col-md-5 col-12">
        <img class="d-block mx-auto" id="steps-img" src="<%= asset_path('aboutus-pic1.jpg') %>" alt="aboutus-pic1" alt="Illustration">
      </div>
      <div class="col-lg-6 offset-lg-1 col-md-7 col-12">
        <h2 class="h3 pb-3">How it works</h2>
        <div class="steps steps-vertical">
          <div class="step active">
            <div class="step-progress"><span class="step-number">1</span></div>
            <div class="step-label ms-4">
              <h3 class="h5 mb-2 pb-1">Start by searching</h3>
              <p class="mb-0">Enter the item type, your postcode and the date you would like the item to be collected on.
                Sort by price and check the reviews of each company. Ready to book?</p>
            </div>
          </div>
          <div class="step active">
            <div class="step-progress"><span class="step-number">2</span></div>
            <div class="step-label ms-4">
              <h3 class="h5 mb-2 pb-1">Book your collection</h3>
              <p class="mb-0">Select a recycling partner and proceed to book the collection. Payment may be required at
                this stage or later on collection.</p>
            </div>
          </div>
          <div class="step active">
            <div class="step-progress"><span class="step-number">3</span></div>
              <div class="step-label ms-4">
                <h3 class="h5 mb-2 pb-1">Collection day!</h3>
                <p class="mb-0">The joy! Ready to have more space in your life? Answer the buzzer and welcome the
                  professional team that will collect your item(s) and give them a new lease of life.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Meet our team-->
<section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title pb-3">
          <h3 style="text-align: center;">Meet the <span> Redore Team</span></h3>
          <p style="text-align: center;">Our team brings a wealth of experience from some of the world's most formidable business agencies and startups.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="<%= asset_path('team-1.jpg') %>" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fa-brands fa-facebook"></i></a>
                  <a href=""><i class="fa-brands fa-twitter"></i></a>
                  <a href=""><i class="fa-brands fa-instagram"></i></a>
                  <a href=""><i class="fa-brands fa-linkedin"></i></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mohed Nazari</h4>
                <span>Software Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="<%= asset_path('team-2.jpg') %>" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fa-brands fa-facebook"></i></a>
                  <a href=""><i class="fa-brands fa-twitter"></i></a>
                  <a href=""><i class="fa-brands fa-instagram"></i></a>
                  <a href=""><i class="fa-brands fa-linkedin"></i></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarhan Alim</h4>
                <span>Software Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex >align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="<%= asset_path('team-3.jfif') %>" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fa-brands fa-facebook"></i></a>
                  <a href=""><i class="fa-brands fa-twitter"></i></a>
                  <a href=""><i class="fa-brands fa-instagram"></i></a>
                  <a href=""><i class="fa-brands fa-linkedin"></i></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Jacopo Belli</h4>
                <span>Software Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="<%= asset_path('team-4.jfif') %>" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fa-brands fa-facebook"></i></a>
                  <a href=""><i class="fa-brands fa-twitter"></i></a>
                  <a href=""><i class="fa-brands fa-instagram"></i></a>
                  <a href=""><i class="fa-brands fa-linkedin"></i></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Taylan Ozdere</h4>
                <span>Software Developer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
</section>
