<div class="container">
  <div class="row align-items-center justify-content-center">
    <!-- Hero content-->
    <div class="col-lg-4 col-md-5 col-sm-9 order-md-1 order-2 text-md-start text-center">
      <h2 class="mb-4">About Redore</h2>
      <p class="mb-4 pb-3 fs-lg">
        We provide a complete service for the service of recycling.
        We have been operating more than 10 years.
        We provide a complete service for the service of recycling.
        We have been operating more than 10 years.
        We provide a complete service for the service of recycling.
        We have been operating more than 10 years.
      </p>
      <a href="#" class="btn btn-primary">Contact us</a>
    </div>
    <div class="col-lg-7 col-md-6 offset-md-1 col-12 order-md-2 order-1">
      <img class="about-image" src="<%= asset_path('aboutus.png') %>" alt="aboutus">
    </div>
  </div>
    <!-- Why choose us?-->
  <section class="container pt-5 mb-2 mb-xl-5 pb-lg-4">
    <h2 class="h3 mb-4">Why choose us?</h2>
    <div class="row justify-content-center gx-5">
    <div class="col-md-4" style="max-width: 24rem;">
      <div class="card card-hover card-body border-0 bg-transparent">
      <i class="pb-4 fa-solid fa-recycle fa-2xl icon"></i>
        <div class="d-flex mt-3">
          <div class="">
            <h3 class="h5 card-title">Recycle everything with Redore</h3>
            <p class="card-text fs-sm">Our friendly team will remove and recycle your domestic or commercial waste.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="max-width: 24rem;">
      <div class="card card-hover card-body border-0 bg-transparent">
      <i class="pb-4 fa-solid fa-truck-fast fa-2xl icon"></i>
        <div class="d-flex mt-3">
          <div class="">
            <h3 class="h5 card-title">Fast & affordable</h3>
            <p class="card-text fs-sm">Our friendly team will remove and recycle your domestic or commercial waste.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="max-width: 24rem;">
      <div class="card card-hover card-body border-0 bg-transparent">
      <i class="pb-4 fa-solid fa-seedling fa-2xl icon"></i>
        <div class="d-flex mt-3">
          <div class="">
            <h3 class="h5 card-title">Environmental friendly</h3>
            <p class="card-text fs-sm">Our friendly team will remove and recycle your domestic or commercial waste.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- How it works-->
  <section class="container mb-5 pb-2 pb-lg-4">
    <div class="row gy-4">
      <div class="col-md-5 col-12">
        <img class="d-block mx-auto" id="steps-img" src="<%= asset_path('aboutus-pic1.jpg') %>" alt="aboutus-pic1" alt="Illustration">
      </div>
      <div class="col-lg-6 offset-lg-1 col-md-7 col-12">
        <h2 class="h3 pb-3">How it works</h2>
        <div class="steps steps-vertical">
          <div class="step active">
            <div class="step-progress"><span class="step-number">1</span></div>
            <div class="step-label ms-4">
              <h3 class="h5 mb-2 pb-1">Choose your recycling</h3>
              <p class="mb-0">Odio velit, massa augue etiam in parturient volutpat orci. Pulvinar amet, at est ac curabitur mauris, semper cursus metus. Imperdiet sed massa amet at turpis. Dis risus, donec in ac ultricies tempor eu, amet.</p>
            </div>
          </div>
          <div class="step active">
            <div class="step-progress"><span class="step-number">2</span></div>
            <div class="step-label ms-4">
              <h3 class="h5 mb-2 pb-1">See the recycling directly</h3>
              <p class="mb-0">Id orci senectus dignissim magna nec diam bibendum at. Morbi quis turpis nulla condimentum est elementum. Tristique in accumsan eget vestibulum volutpat pretium. Sed id elit duis turpis diam justo. Dignissim blandit rutrum venenatis.</p>
            </div>
          </div>
          <div class="step active">
            <div class="step-progress"><span class="step-number">3</span></div>
              <div class="step-label ms-4">
                <h3 class="h5 mb-2 pb-1">Easy payment</h3>
                <p class="mb-0">Ut mattis nascetur aliquam neque velit nunc sed. Morbi congue mauris amet ultrices molestie tellus proin odio diam. Feugiat elit, habitasse egestas egestas id nec potenti. Donec convallis donec tristique mattis et viverra.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Meet our team-->
<section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title pb-3">
          <h3 style="text-align: center;">Our Hardworking <span>Team</span></h3>
          <p style="text-align: center;">Our team brings a wealth of experience from some of the world's most formidable business agencies and startups.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="<%= asset_path('team-1.jpg') %>" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fa-brands fa-facebook"></i></a>
                  <a href=""><i class="fa-brands fa-twitter"></i></a>
                  <a href=""><i class="fa-brands fa-instagram"></i></a>
                  <a href=""><i class="fa-brands fa-linkedin"></i></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mohed Nazari</h4>
                <span>Software Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="<%= asset_path('team-2.jpg') %>" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fa-brands fa-facebook"></i></a>
                  <a href=""><i class="fa-brands fa-twitter"></i></a>
                  <a href=""><i class="fa-brands fa-instagram"></i></a>
                  <a href=""><i class="fa-brands fa-linkedin"></i></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarhan Alim</h4>
                <span>Software Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex >align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="<%= asset_path('team-3.jfif') %>" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fa-brands fa-facebook"></i></a>
                  <a href=""><i class="fa-brands fa-twitter"></i></a>
                  <a href=""><i class="fa-brands fa-instagram"></i></a>
                  <a href=""><i class="fa-brands fa-linkedin"></i></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Jacopo Belli</h4>
                <span>Software Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="<%= asset_path('team-4.jfif') %>" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fa-brands fa-facebook"></i></a>
                  <a href=""><i class="fa-brands fa-twitter"></i></a>
                  <a href=""><i class="fa-brands fa-instagram"></i></a>
                  <a href=""><i class="fa-brands fa-linkedin"></i></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Taylan Ozdere</h4>
                <span>Software Developer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
